<h1>Come back when you've completed your plan and write about how it went!</h1>
<%@user.milestones.each do |m|%>
<h2><%= m.title %></h2><br>
<%=m.date_created%><br>
<%=m.author%><br>
<%=@user.occupation%><br>
<p><%=m.description%><br></p>
<p><%=m.plan%></p>

<%end%><br>


