<h1 class="display-3 fw-light m-5 p-5 text-center">Welcome to stepping stones! Where struggles are welcome, no judgement is allowed and goals are accomplished.</h1>
<h2 class="display-5 fst-italic fw-light m-5 text-center text-muted">Explore milestones below.</h2> 
<%@milestones.each do |m|%>
    <article class="container p-4 shadow">
        <h3 class="my-3 "><%= m.title %></h3>
        <h6 class="fw-light"><%=m.date_created.httpdate%></h4>
        <h6 class="mb-4 fst-italic fw-light"><%=m.author%></h4>
        <p class="mb-2 lead">Description:<br/>
            <%= m.description %>
        </p>
        <p class="mt-2 lead font-weight-normal">Plan:<br/>
            <%= m.plan %>
        </p>
    </article>
<%end %>

 